%html
  %head
    %title #{@title}
    %link{:rel => "stylesheet", :type => "text/css", :href => "theme.css"}
  %body
    %div{:id => "activePane"}
      %h1 #{@alert}
      %form{:method => "post", :action => "submit"}
        %input{:type => "submit", :value => "Punch #{@username} #{@punchstate}"}
      %p #{@output}
    #{haml :sidebar, :layout => false}